<div class="row">
    <div class="col-10">
        <a href="#" routerLink="carpool"><img src="../../../assets/images/logo.png" alt="logo" class="mt-4 ms-5"></a>

    </div>
    <div *ngIf="loggedUser!=null" class="profile d-flex col-2 mt-4 ps-5">
        <h6 class="fw-bold my-auto ps-4">{{loggedUser.userName}}</h6>
        <img *ngIf="!isShowThumbnail" (click)="isDropdown?isDropdown=false:isDropdown=true" class="z-index-top my-auto ms-2 profile-image rounded-circle" src={{loggedUser.profileImage}} (error)="isShowThumbnail=true">
        <div *ngIf="isShowThumbnail" (click)="isDropdown?isDropdown=false:isDropdown=true" class="z-index-top my-auto ms-2 profile-image rounded-circle background-yellow"><span class="d-flex justify-content-center color-white m-2 fw-normal ">{{loggedUser.userName[0].toUpperCase()}}</span></div>
                
        <div *ngIf="isDropdown" class="profile-dropdown row">
            <a (click)="openMyProfile()" class="cursor-pointer col-12 d-flex align-items-center justify-content-center">Profile</a>
            <a (click)="openMyRides()" class="cursor-pointer col-12 d-flex align-items-center justify-content-center">My Rides</a>
            <a (click)="logOut()" class="cursor-pointer col-12 d-flex align-items-center justify-content-center">Logout</a>

        </div>
    </div>
</div>
