<section class="row">
  <section class="banner col col-lg-8">
    <img
      class="logo img-responsive"
      src="../../../../assets/images/logo.png"
      alt=""
    />
    <span class="banner-text display-1">TURN <span class="yellow">MILES</span> INTO <span class="purple">MONEY</span></span>
    <span class="banner-subtext">RIDES ON TAP</span>
    <span></span>
  </section>
  <section #background class="form-background-purple side-form col col-lg-4 ">
      
      <h2 class="text-center">{{title}}</h2><span class="underline"></span>
      
    <form *ngIf="isSignUp;else logIn"
    [formGroup]="signUpForm"
    (ngSubmit)="submitDetails(true)"
    >
      <div class="form-floating  d-flex flex-column align-items-center mt-3 overflow-hidden">
          <input #email
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter Email Id"
          name="email"
          formControlName="emailId"
          required
          />
          <label for="email">Enter Email Id</label>
          <div *ngIf="signUp.emailId.errors && (signUp.emailId.dirty || signUp.emailId.touched)" class="text-danger d-flex align-self-start ms-5 ps-4">Invalid Email</div>
        </div>
        
        <div class="form-floating d-flex flex-column align-items-center  my-2 overflow-hidden">
              <input
              [type]="isVisible?'text':'password'"
              id="password"
              class="form-control"
              placeholder="Enter password"
              name="pass"
              formControlName="password"
              required
              />
              <i (click)="isVisible?isVisible=false:isVisible=true" class="bi bi-eye-fill position-absolute form-icon pt-3"></i>
            <label for="password">Enter password</label>
            <span *ngIf="signUp.password.value.length<6 && (signUp.password.dirty || signUp.password.touched)" class="text-danger d-flex align-self-start ms-5 ps-4">Password must be more then 5 char</span>
          </div>  
        <div class="form-floating d-flex flex-column align-items-center my-2 overflow-hidden">
            <input
            type="password"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
            name="confirmpass"
            formControlName="confirmPassword"
            required
            />
            <label for="confirmPassword">Confirm Password</label>
            <span *ngIf="signUp.password.value!=signUp.confirmPassword.value && (signUp.confirmPassword.dirty || signUp.confirmPassword.touched)" class="text-danger d-flex align-self-start ms-5 ps-4">Password does not match</span>
          </div>
        <div class="row">
            <button
            type="submit"
            class="col-12 mx-auto my-4 background-purple btn-bg "
            >
            Submit
            </button>
        </div>
    </form>
        <div class="text-center base-text">
            <p class="mb-0">{{baseText}}<span><a (click)="openLogIn()" >{{baseLink}}</a></span></p><span class="underline-base-text"></span>
        </div>
        
        <ng-template #logIn>
            <form
            [formGroup]="logInForm"
            (ngSubmit)="submitDetails(false)"
            >
              <div class="form-floating  d-flex flex-column align-items-center mt-3 overflow-hidden">
                  <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="Enter Email Id"
                  name="email"
                  formControlName="emailId"
                  required
                  />
                  <label for="email">Enter Email Id</label>
                  <div *ngIf="logInForm.controls['emailId'].errors && (logInForm.controls['emailId'].dirty || logInForm.controls['emailId'].touched)" class="text-danger d-flex align-self-start ms-5 ps-4">Invalid Email</div>
                </div>
                
                <div class="form-floating d-flex align-items-center justify-content-center my-2 overflow-hidden">
                    <input
                    type="password"
                    id="password"
                    class="form-control"
                    placeholder="Enter password"
                    name="pass"
                    formControlName="password"
                    required
                    />
                    <label for="password">Enter password</label>
                </div>
                <span *ngIf="isInvalid" class="d-flex justify-content-center text-danger">Invalid Email or Password</span>
                <div class="row">
                    <button
                    type="submit"
                    class="col-12 mx-auto my-4 background-yellow btn-bg "
                    >
                    Submit
                    </button>
                </div>
            </form>
        </ng-template>
  </section>
</section>
