
.ride-card{
    width: 416px;
    height: 230px;
    background-color: white;
    border-radius: 10px;
    z-index: 200 !important;
    position: relative;
}

.ride-card label{
    font-size: 80%;
    font-weight: 500;
    color:#A1A1A1;
}

.ride-card img{
    width: 60px !important;
    height: 42px !important;
}
