.bg-banner::before{
    display: block;
    position: absolute;
    width: 100%;
    content: "";
    background-image: url('../../../../assets/images/img4.png');
    height: 100vh;
    z-index: 100;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    opacity: 60%;
}
.row{
    margin: 0%;
}

.offer-ride-form{
    width: 23.5rem;
    background-color: white;
    border-radius: 10px;
    z-index: 200 !important;
    position: relative;
}

.offer-ride-form-body input{
    border: none;
    box-shadow: none;
    padding: 0%;
}

.offer-ride-form-body label{
    font-size: 80%;
    font-weight: 600;
    color:#8b8b8b;
}

.offer-ride-form-head input{
    background-color:#FFAC19 ;
    border: #FFAC19;
    box-shadow: none;
}

.btn-time{
    border: 1px solid #9319FF;
    border-radius: 30px;
    font-weight: normal !important;
    font-size: 70% !important;
    color: black !important;
}

.btn-style-none{
    background-color: transparent;
    border: none;
    font-weight: 700 !important;
    color: #9319FF;
}

.form-switch .form-check-input{
    width: 3.0em !important;
    height: 1.5em !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

app-top-menu{
    height: 94px !important;
}

.active{
    background-color: #9319FF !important;
    color: white !important;
}

.price{
    font-size: 170%;
    font-weight: 600;
}

.add-icon{
 font-size: 170% !important;
 font-style: normal !important;
}
