<section class="background">
 <app-top-menu></app-top-menu>
 <section class="row mt-5 pt-5 ps-5 ms-1">
    <div class="booked-ride col-lg-5 mt-2">
        <label class="head-text ms-3 background-purple d-flex align-items-center justify-content-center">Booked rides</label>
        <div class="row">
            <app-ridescard class="col gy-5" *ngFor="let ride of bookedRides" [ride]="ride" [start]="ride.startLocation" [end]="ride.endLocation"></app-ridescard>
        </div>
    </div>
    <div class="offered-ride col-lg-6 mt-2">
        <label class="head-text ms-3 background-yellow d-flex align-items-center justify-content-center">Offered rides</label>
        <div class="row">
            <app-ridescard class="col gy-5" *ngFor="let ride of offeredRides" [ride]="ride" [start]="ride.startLocation" [end]="ride.endLocation"></app-ridescard>
        </div>
    </div>
 </section>
</section>
